<link rel="stylesheet" href="/css/form-style.css">

<div class="body-continer">
    <div class="main-logo">
        <img src="/img/bg-img1.jpg">
    </div>
    <div class="main-content">
        <h1>
            <p class="page-text home-text">Welcome to SocialSpark, one stop social authetication platform</p>
        </h1>
    </div>
</div>       