<link rel="stylesheet" href="/css/form-style.css">

<div class="body-continer">
    <div class="main-logo">
        <img src="/img/bg-img1.jpg">
    </div>
    <div class="main-form main-content">
        <h1>Reset Password</h1>
        <form action="/users/reset-password" method="POST">
            <input type="name" name="old_password" placeholder="Confirm Previous Password"  required>
            <input type="name" name="new_password" placeholder="Enter New Password"  required>
            <input type="name" name="confirm_new_password" placeholder="Confirm New Password"  required>
            <input type="submit" class="submit-btn" value="Reset Password">
        </form>
    </div>
</div>