#layout-footer nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background: grey;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
}

#layout-footer nav ul {
    margin-left: 1100px;
    display: flex;
    justify-content: space-around;
}

#layout-footer nav ul li {
    margin-right: 40px;
}

#layout-footer a {
    color: white;
    text-decoration: none;
}

#layout-footer .footer-nav ul {
    list-style: none;
}